# Exercise 4.9 Part 1

### Contents

1. Wrangle Data
2. Data Quality and Consistency
3. Combine with rets of data

In [1]:
#Importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
#Importing new customer data
path1 = r'/Users/elysegross/Documents/Data Analytics/A4 - Instacart Basket Analysis/'
df_customers = pd.read_csv(os.path.join(path1, '02 Data', 'Original Data', 'customers.csv'))
df_ords_prods_merged = pd.read_pickle(os.path.join(path1, '02 Data', 'Prepared Data', 'orders_products_ex4.8.pkl'))

## Wrangle Data

In [3]:
df_customers.shape

(206209, 10)

In [4]:
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
#Renaming Surnam column

df_customers.rename(columns = {'Surnam' : 'Last Name'}, inplace = True)

In [6]:
#Renaming STATE column

df_customers.rename(columns = {'STATE' : 'State'}, inplace = True)

In [7]:
#Renaming n_dependants column

df_customers.rename(columns = {'n_dependants' : 'Number of Dependants'}, inplace = True)

In [8]:
#Renaming fam_status column

df_customers.rename(columns = {'fam_status' : 'Married?'}, inplace = True)

In [9]:
#Renaming income column

df_customers.rename(columns = {'income' : 'Income'}, inplace = True)

In [10]:
#Renaming date_joined column

df_customers.rename(columns = {'date_joined' : 'Date Joined'}, inplace = True)

## Data Quality and Consistency

In [11]:
df_customers.describe()

             user_id            Age  Number of Dependants         Income
count  206209.000000  206209.000000         206209.000000  206209.000000
mean   103105.000000      49.501646              1.499823   94632.852548
std     59527.555167      18.480962              1.118433   42473.786988
min         1.000000      18.000000              0.000000   25903.000000
25%     51553.000000      33.000000              0.000000   59874.000000
50%    103105.000000      49.000000              1.000000   93547.000000
75%    154657.000000      66.000000              3.000000  124244.000000
max    206209.000000      81.000000              3.000000  593901.000000

#### Mixed Columns

In [12]:
#Checking for any mixed column names

for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

First Name

No mixed columns

#### Missing Values

In [13]:
#Counting missing values in each column
df_customers.isnull().sum()

user_id                     0
First Name              11259
Last Name                   0
Gender                      0
State                       0
Age                         0
Date Joined                 0
Number of Dependants        0
Married?                    0
Income                      0
dtype: int64

In [14]:
#Filling missing values with Not Listed
df_customers['First Name'].fillna('Not Listed', inplace=True)

In [15]:
df_customers.isnull().sum()

user_id                 0
First Name              0
Last Name               0
Gender                  0
State                   0
Age                     0
Date Joined             0
Number of Dependants    0
Married?                0
Income                  0
dtype: int64

#### Duplicates

In [16]:
#Looking for full duplicates - rows with exact same values
df_dupes = df_customers[df_customers.duplicated()]

In [17]:
df_dupes

Empty DataFrame
Columns: [user_id, First Name, Last Name, Gender, State, Age, Date Joined, Number of Dependants, Married?, Income]
Index: []

No duplicates

In [20]:
df_customers.shape

(206209, 10)

# Combine with rest of instacart data

In [21]:
df_customers.dtypes

user_id                  int64
First Name              object
Last Name               object
Gender                  object
State                   object
Age                      int64
Date Joined             object
Number of Dependants     int64
Married?                object
Income                   int64
dtype: object

In [22]:
df_ords_prods_merged.dtypes

Unnamed: 0_x                        int64
Unnamed: 0.1                        int64
order_id                            int64
user_id                             int64
order_number                        int64
orders_day_of_week                  int64
order_hour                          int64
days_since_prior_order            float64
product_id                          int64
add_to_cart_order                   int64
reordered                           int64
Unnamed: 0_y                        int64
product_name                       object
aisle_id                            int64
department_id                       int64
prices                            float64
_merge                           category
price_range_loc                    object
busiest_day                        object
busiest_days                       object
busiest_period_of_day              object
max_order                           int64
loyalty_flag                       object
price_means                       float64
spender_type                       object
median_days_since_prior_order     float64
spending_flag                      object
dtype: object

In [2]:
# Merging the data

df_merged = df_ords_prods_merged.merge(df_customers, on = 'user_id', indicator = 'customers_merge')
df_merged.head()

NameError: name 'df_ords_prods_merged' is not defined

# Exporting the new dataframe

In [ ]:
#Export data to pkl
df_merged.to_pickle(os.path.join(path1, '02 Data','Prepared Data', 'data_merged.pkl'))

In [1]:
df_merged.shape

NameError: name 'df_merged' is not defined